body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #276A55;
    --text-primary: #7E7E7E;
}

/* navbar */
nav ul li {
    font-size: 16px;
}

.btn {
    padding: 10px 30px;
    border: none;
}

.btn-secondary {
    background-color: var(--secondary-color);
    border: none;
}

.btn-secondary:hover {
    background-color: #ff9674;
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;
}

.btn-primary:hover {
    background-color: #9b91f4;
    border: none;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 600;
    color: #1C1A1B;
}

.navbar-brand img {
    width: 90px;
}

/* header */
.header-content {
    margin-top: 100px;
}

.header-content h1 {
    line-height: 150%;
    margin-bottom: 23px;
}

.header-content p {
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
}

h1 {
    font-weight: 700;
    font-size: 42px;
}

.statistic h3 {
    font-weight: 800;
}

.statistic p {
    font-size: 16px;
}

.search-input {
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    background-color: #cde6ff;
    margin-bottom: 50px;
}

.search-input:focus {
    border-color: #9c95d7;
}


/* Hero */
#card-hero {
    margin-top: 150px;
}

#card-hero #title-hero {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 20px;
}

#card-hero #text-hero {
    font-size: 20px;
    color: var(--text-primary);
}

#card-fitur .card-title-fitur {
    font-weight: bold;
    font-size: 40px;
    margin-top: 60px;
}

#card-fitur .card-text-fitur {
    font-size: 20px;
    color: var(--text-primary);
}

.card-img-top {
    width: 70%;
    margin-top: 50px;
    margin-left: 95px;
}

#text-hero-2 {
    color: #229F41;
    margin-top: -4px;
    margin-left: 220px;
}



/* footer */
footer {
    border-top: 1px solid #EAEAEA;
    margin-top: 100px;
}

#img-footer img {
    width: 90px;
    color: #7E7E7E;
}

#img-footer p {
    color: #7E7E7E;
}

.sosmed-footer {
    display: flex;
    gap: 43px;
    padding-bottom: 40px;
}

.sosmed-logo a {
    color: var(--text-primary);
}

.sosmed-logo:hover {
    scale: 1.2;
    animation: all 0.5s ease-in-out;
}

footer h5 {
    font-size: 18px;
    color: var(--text-primary);
    font-weight: 600;
}

footer ul {
    margin-top: 38px;
}

footer li {
    margin-bottom: 12px;
}

footer ul li a {
    color: var(--text-primary);
}
